{% extends "MemsLayoutBundle::layout.html.twig" %}

{% block title %}{{ mem.title }}{% endblock %}

{% block stylesheets %} 

    {{ parent() }}

{% endblock %}

{% block body %}
 
<a href="{{ path('mems_show', {'slug': mem.slug}) }}" class="media-left pull-left">

    <h1>{{ block('title') }}</h1></a>

<div>
        
    <img  src="{{ asset('uploads/mems/' ~ mem.imageName) }}" alt="{{ mem.title }}" style="width: 100%">
    
    <p>Dodany przez {{ mem.createdBy }}, dnia {{ mem.createdAt|date('Y-m-d H:i:s') }}</p>
    
    <h3>Komentarze ({{ mem.comments|length }})</h3>
    
    {% for comment in mem.comments %}
    
        <p id="comment-{{ comment.id }}">
            {{ comment.comment }}
            <small>Dodany przez {{ comment.createdBy }} dnia {{ comment.createdAt|date('Y-m-d H:i:s') }} </small>
        </p>
    
    {% else %}
        
        <p>Nie znaleziono komentarzy.</p>
        
    {% endfor %}
    
    {# if app.user #}
    <h3>Śrdenia ocena: 
      {% if mem.ratings|length > 0 %}
         {{ averageRating }}
    
        
    {% else %}
        </h3>
        <p>
            Nie znaleziono ocen.
        </p>
        
    {% endif %}
    
{% endblock %}